{% extends 'base.html' %}

{% load form_helpers %}

{% block title %}Add Financial Account{% endblock title %}

{% block extra_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function toggleFields() {
            var isCash = document.getElementById('id_is_cash').checked;
            var bankNameField = document.getElementById('id_bank_name');
            var accountNumberField = document.getElementById('id_account_number');

            if (isCash) {
                bankNameField.disabled = true;
                accountNumberField.disabled = true;
            } else {
                bankNameField.disabled = false;
                accountNumberField.disabled = false;
            }
        }

        toggleFields(); // Run on initial load
        document.getElementById('id_is_cash').addEventListener('change', toggleFields); // Run on checkbox change
    });
</script>
{% endblock extra_script %}

{% block content %}
    <h1 class="mt-4">Add Financial Account</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            {% render_label form.account_name css_class="form-label" %}
            {{ form.account_name }}
        </div>
        <div class="mb-3">
            {% render_label form.bank_name css_class="form-label" %}
            {{ form.bank_name }}
        </div>
        <div class="mb-3">
            {% render_label form.account_number css_class="form-label" %}
            {{ form.account_number }}
        </div>
        <div class="mb-3">
            {% render_label form.balance css_class="form-label" %}
            {{ form.balance }}
        </div>
        <div class="form-check mb-3">
            {% render_label form.is_cash css_class="form-check-label" %}
            {{ form.is_cash }}
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock content %}
